@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: skyblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 25px;
    font-size: 2.6rem;
}

.container {
    background-color: white;
    padding: 20px;
    width: 450px;
    text-align: center;
}

.input-container {
    text-align: center;
}

#input-number-container {
    padding-bottom: 20px;
    font-size: 1.2rem;
}

#num {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    text-align: center;
    width: 100px;
}

#btn-add {
    border: none;
    background: linear-gradient(135deg, darkblue, blue);
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}

#receive-numbers {
    margin-top: 10px;
    text-align: center;
}

#receive {
    font-size: 1rem;
    padding: 10px;
}

#res {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 35px;
    font-weight: bold;
}

#btn-finish {
    border: none;
    background: linear-gradient(135deg, darkblue, blue);
    padding: 7px 20px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

footer {
    font-size: 1.3rem;
    margin-top: 20px;
}

footer strong {
    font-size: 1.7rem;
}