* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background: linear-gradient(115deg,black, crimson);
    background-color: cri;
}

.container {
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    margin-top: 50px;
    width: 650px;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.calculadora {
    width: 450px;
    height: 500px;
    background-color: lightslategray;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightslategray;
}

.display {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.display:focus {
    outline: 1px solid black;
}

.btn {
    width: 100%;
    height: 100%;
    padding: 15px 0;
    font-size: 1.35rem;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
}

.btn:hover {
    background-color: #a5a5a58e;
}