* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    background-color: rgb(0, 62, 73);
}

.container {
    background-color: white;
    width: 650px;
    padding: 35px;
    border-radius: 15px;
    margin-top: 50px;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

ul {
    margin-left: 15px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

input {
    padding: 10px;
    font-size: 1rem;
    outline-color: dimgray;
}

.button {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(0, 62, 73);
    padding: 15px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.msg-erro {
    font-size: 0.85rem;
    font-weight: bold;
    color: crimson;
}